body {
  font-family: Verdana, sans-serif;
  font-size: .7em;
  color: #000000;
  line-height: 1em;
  margin: 0;
  padding: .5em;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode-toggle {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1001;
  background-color: white;
  padding: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.mode-toggle label {
  display: block;
  margin-bottom: 5px;
  white-space: nowrap;
}

.totals-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
  /* border: 1px solid black; */
}

.total {
  display: flex;
  align-items: center; /* This will vertically center the children */
  margin: 0 20px;
  text-align: center;
  /* border: 1px solid black; */
}

.total-icon {
  width: 20px;  /* Adjust this value to control the image size */
  height: auto;
  margin-right: 3px; /* Add some space between the icon and the number */
}

/* Optional: Style for the span to ensure it's vertically centered */
.total span {
  display: inline-block;
  vertical-align: middle;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 7px;
  max-width: 1100px; /* Set a max width for larger screens */
  margin: 0 auto; /* Center the grid container */
}

/* Make the grid full width on smaller screens */
@media (max-width: 1200px) { /* Adjust the breakpoint as needed */
  .grid-container {
    grid-template-columns: repeat(5, 1fr); /* Change to 2 columns on small screens */
    width: 100%; /* Take full width on mobile */
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: top; /* Center vertically */
  text-align: center; /* Center text within paragraphs */
  background-color: #f0f0f0;
  padding: 0.0rem;
  border-radius: 8px;
  height: 100%; /* Ensures the item expands to fill available height */
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;  /* Safari */
  -ms-user-select: none;      /* IE 10 and IE 11 */
  user-select: none;          /* Standard syntax */
}

.grid-item:active .talent-image {
  transform: scale(0.95);
}

.image-button-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the image horizontally */
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
  pointer-events: none; /* This allows clicks to pass through to the parent */
}

/* Bullet container for showing levels */
.bullet-container {
  display: flex;
  gap: 0px; /* Slightly reduce spacing between bullets */
  align-items: center;
  justify-content: center; /* Center the image horizontally */
  margin-top: -7px;
  z-index: 1000;
}

/* Bullet style */
.bullet {
  width: 0.45em;
  height: 0.45em;
  border: 0.05em solid black; /* Bullet border */
  border-radius: 50%;
  display: inline-block;
  background-color: #A9A9A9; /* Inactive state */
}

/* Active bullet (level reached) */
.bullet.active {
  background-color: gold; /* Active state */
}

.talent-image {
  cursor: pointer;
  pointer-events: auto; /* This re-enables pointer events for the image */
  transition: transform 0.1s;
}

/* .talent-image:active { */
  /* transform: scale(0.95); */
/* } */

.minus-mode .talent-image {
  opacity: 0.7;
}

.image-small {
  max-width: 30px;
}

p {
  margin: 3px 0;
}

/* New styles for the popup */
.popup-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  display: none;
  z-index: 2000;
  border: 1px solid black;
}

.popup-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

/* Add this class to hide descriptions when popup mode is active */
.hide-description {
  display: none;
}
