.museum {
  max-width: 800px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#museum-title-container {
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}

.museum-calculator {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  padding: 5px 0px;
  
}

#museum-medals-total, #museum-wtads-cost {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.inputs-container {
  max-width: 600px;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.inputs-container label {
  margin: 0px;
}

.inputs-container input, .museum-calculator input {
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

/*
.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
}

.checkbox-container > div {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.checkbox-container input[type="checkbox"] {
    margin: 0;
}

.checkbox-container label {
    margin: 0;
}
*/

.results-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
