/*
.container {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px; width: 100%;
}
*/
/*
label {
  display: block; 
  margin-top: 1rem;
  color: #555;
}
input, select {
  width: 100%; 
  padding: 0.5rem 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}
*/
/* To ensure consistent sizing across browsers */
/*
*, *:before, *:after {
  box-sizing: inherit;
}
*/

/*
html {
    box-sizing: border-box;
}
*/
/*
button { 
    width: 100%;
    padding: 0;
    margin-top: 1rem; 
    background-color: #4a5568;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2d3748;
}
*/

#result {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out, opacity 1s ease-out, margin-top 1s ease-out;
  opacity: 0;
  text-align: center;
}

#result.show {
  max-height: 200px; /* Adjust this value based on your content */
  opacity: 1;
  margin-top: 0rem;
}

#result.style1 {
  background-color: #6fc3df;
}

#result.style2 {
  background-color: #8d82c4;
}

#result.style3 {
  background-color: #ec8d81;
}

#result.style4 {
  background-color: #e7b788;
}

#result.style5 {
  background-color: #8ea9e8;
}

#result.style6 {
  background-color: #87c5a4;
}

.tooltip-container { 
    position: relative;
    margin: 0;
    padding: 0;
}

.tooltip {
    display: none;
    position: absolute;
    bottom: calc(100%);
    right: 0%;
    background-color: #8d82c4;
    color: white;
    padding: 0.25rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    white-space: nowrap;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 10%;
    border-width: 10px;
    border-style: solid;
    border-color: #8d82c4 transparent transparent transparent;
}

.tooltip img {
    max-width: 300px;
    display: block;
    margin: 0;
}

