.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden; /* Hide the tooltip initially */
  text-align: center;
  border-radius: 6px;
  width: 200px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.5);
  border: 1px solid black;
  pointer-events: none;
}

.tooltip.tooltip-show:focus-within .tooltip-text,
.tooltip.tooltip-help.active .tooltip-text {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, 0); /* Move to final position */
}


/* Arrow styles */
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}

/* Positioning classes */
.tooltip.tooltip-top .tooltip-text {
  bottom: 150%;
  left: 50%;
  transform: translate(-50%, 20px); /* Start 20px below final position */
}

.tooltip.tooltip-bottom .tooltip-text {
  top: 150%;
  left: 50%;
  transform: translate(-50%, -20px); /* Start 20px below final position */
}

.tooltip.tooltip-left .tooltip-text {
  right: 125%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip.tooltip-right .tooltip-text {
  left: 125%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  border-style: solid;
}

.tooltip.tooltip-top .tooltip-text::after {
  top: 100%;
  left: 50%;
  margin-left: -6px; /* Half of the arrow's width */
  border-width: 10px 6px 0 6px; /* Top, Right, Bottom, Left */
}

.tooltip.tooltip-bottom .tooltip-text::after {
  bottom: 100%;
  left: 50%;
  margin-left: -6px; /* Half of the arrow's width */
  border-width: 0 6px 10px 6px; /* Top, Right, Bottom, Left */
}

.tooltip.tooltip-left .tooltip-text::after {
  top: 50%;
  left: 100%;
  margin-top: -6px; /* Half of the arrow's height */
  border-width: 6px 0 6px 10px; /* Top, Right, Bottom, Left */
}

.tooltip.tooltip-right .tooltip-text::after {
  top: 50%;
  right: 100%;
  margin-top: -6px; /* Half of the arrow's height */
  border-width: 6px 10px 6px 0; /* Top, Right, Bottom, Left */
}

/* Show tooltip for inputs when focused */
.tooltip.tooltip-show:focus-within input:focus + .tooltip-text,
.tooltip.tooltip-help.active .tooltip-text {
  visibility: visible;
  opacity: 1;
}


/* Style 1 */
.tooltip.tooltip-top .tooltip-text.style1::after {
  border-color: #6fc3df transparent transparent transparent;
}
.tooltip.tooltip-bottom .tooltip-text.style1::after {
  border-color: transparent transparent #6fc3df transparent;
}
.tooltip.tooltip-left .tooltip-text.style1::after {
  border-color: transparent transparent transparent #6fc3df;
}
.tooltip.tooltip-right .tooltip-text.style1::after {
  border-color: transparent #6fc3df transparent transparent;
}
.tooltip-text.style1 {
  background-color: #6fc3df;
  color: #FFFFFF;
  font-weight: bold;
}

/* Style 2 */
.tooltip.tooltip-top .tooltip-text.style2::after {
  border-color: #8d82c4 transparent transparent transparent;
}
.tooltip.tooltip-bottom .tooltip-text.style2::after {
  border-color: transparent transparent #8d82c4 transparent;
}
.tooltip.tooltip-left .tooltip-text.style2::after {
  border-color: transparent transparent transparent #8d82c4;
}
.tooltip.tooltip-right .tooltip-text.style2::after {
  border-color: transparent #8d82c4 transparent transparent;
}
.tooltip-text.style2 {
  background-color: #8d82c4;
  color: #FFFFFF;
  font-weight: bold;
}

/* Style 3 */
.tooltip.tooltip-top .tooltip-text.style3::after {
  border-color: #ec8d81 transparent transparent transparent;
}
.tooltip.tooltip-bottom .tooltip-text.style3::after {
  border-color: transparent transparent #ec8d81 transparent;
}
.tooltip.tooltip-left .tooltip-text.style3::after {
  border-color: transparent transparent transparent #ec8d81;
}
.tooltip.tooltip-right .tooltip-text.style3::after {
  border-color: transparent #ec8d81 transparent transparent;
}
.tooltip-text.style3 {
  background-color: #ec8d81;
  color: #FFFFFF;
  font-weight: bold;
}

/* Style 4 */
.tooltip.tooltip-top .tooltip-text.style4::after {
  border-color: #e7b788 transparent transparent transparent;
}
.tooltip.tooltip-bottom .tooltip-text.style4::after {
  border-color: transparent transparent #e7b788 transparent;
}
.tooltip.tooltip-left .tooltip-text.style4::after {
  border-color: transparent transparent transparent #e7b788;
}
.tooltip.tooltip-right .tooltip-text.style4::after {
  border-color: transparent #e7b788 transparent transparent;
}
.tooltip-text.style4 {
  background-color: #e7b788;
  color: #FFFFFF;
  font-weight: bold;
}

/* Style 5 */
.tooltip.tooltip-top .tooltip-text.style5::after {
  border-color: #8ea9e8 transparent transparent transparent;
}
.tooltip.tooltip-bottom .tooltip-text.style5::after {
  border-color: transparent transparent #8ea9e8 transparent;
}
.tooltip.tooltip-left .tooltip-text.style5::after {
  border-color: transparent transparent transparent #8ea9e8;
}
.tooltip.tooltip-right .tooltip-text.style5::after {
  border-color: transparent #8ea9e8 transparent transparent;
}
.tooltip-text.style5 {
  background-color: #8ea9e8;
  color: #FFFFFF;
  font-weight: bold;
}

/* Style 6 */
.tooltip.tooltip-top .tooltip-text.style6::after {
  border-color: #87c5a4 transparent transparent transparent;
}
.tooltip.tooltip-bottom .tooltip-text.style6::after {
  border-color: transparent transparent #87c5a4 transparent;
}
.tooltip.tooltip-left .tooltip-text.style6::after {
  border-color: transparent transparent transparent #87c5a4;
}
.tooltip.tooltip-right .tooltip-text.style6::after {
  border-color: transparent #87c5a4 transparent transparent;
}
.tooltip-text.style6 {
  background-color: #87c5a4;
  color: #FFFFFF;
  font-weight: bold;
}

#helpModeToggle {
  background-color: transparent;
  z-index: 9999;
  line-height: inherit;
  border: 2px solid;
  width: 2em; 
  height: 2em;
  cursor: pointer;
  display: flex; 
  justify-content: center;
  align-items: center;  
  position: fixed;
  text-align: center;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;  /* This makes the div circular */
  overflow: hidden;  /* This ensures content doesn't spill outside the circle */
  background-color: transparent;
}

#helpModeToggle span {
  position: absolute; 
  text-align: center;
  top: 50%;  
  left: 50%;  
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: bold;
}



/* Normal */

#helpModeToggle.style1 {
  color: #6fc3df;
  border-color: #6fc3df;
}
#helpModeToggle.style2 {
  color: #8d82c4;
  border-color: #8d82c4;
}
#helpModeToggle.style3 {
  color: #ec8d81;
  border-color: #ec8d81;
}
#helpModeToggle.style4 {
  color: #e7b788;
  border-color: #e7b788;
}
#helpModeToggle.style5 {
  color: #8ea9e8;
  border-color: #8ea9e8;
}
#helpModeToggle.style6 {
  color: #87c5a4;
  border-color: #87c5a4;
}

/* Hover */
#helpModeToggle:hover {
  color: #FFFFFF;
}
#helpModeToggle.style1:hover {
  background-color: #6fc3df;
}
#helpModeToggle.style2:hover {
  background-color: #8d82c4;
}
#helpModeToggle.style3:hover {
  background-color: #ec8d81;
}
#helpModeToggle.style4:hover {
  background-color: #e7b788;
}
#helpModeToggle.style5:hover {
  background-color: #8ea9e8;
}
#helpModeToggle.style6:hover {
  background-color: #87c5a4;
}

/* Active */
#helpModeToggle.active {
  color: #2a2f4a;
}
#helpModeToggle.active:hover {
  color: #FFFFFF;
}
#helpModeToggle.style1.active {
  background-color: #6fc3df;
}
#helpModeToggle.style2.active {
  background-color: #8d82c4;
}
#helpModeToggle.style3.active {
  background-color: #ec8d81;
}
#helpModeToggle.style4.active {
  background-color: #e7b788;
}
#helpModeToggle.style5.active {
  background-color: #8ea9e8;
}
#helpModeToggle.style6.active {
  background-color: #87c5a4;
}